@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    html {
        font-family: "Noto Sans TC", sans-serif;
        scroll-behavior: smooth;
    }
    body {
        background-image: url(/bg_noise_texture.svg);
        background-color: #FFF8F2;
        letter-spacing: 0.1rem;
    }
    .layout_content {
        max-width: 1200px;
        margin: 0 auto;
        @media screen and (max-width:640px) {
            margin: 0 2rem;
        }
    }
}